<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Custom CSS sheet -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- Required meta tags -->	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="container-fluid">
		<div class="navbar sticky-top navbar-light bg-light" id="navbar">
			<h1>Categories</h1>
			<a class="btn btn-dark" href="{{url_for('gdisconnect')}}" role="button">Logout</a>
		</div>
		<div class="row justify-content-center">
			{% if categories !=[] %}
				<ul class="list-group">
					{% for category in categories %}
						<li class="list-group-item"><a href = "{{url_for('showItems', category_id=category.id)}}"><h3>{{category.name}}</h3></a>
						<a href = "{{url_for('editCategory', category_id=category.id)}}">Edit Category</a> | 
						<a href = "{{url_for('deleteCategory', category_id=category.id)}}">Delete Category</a></li>
					{% endfor %}
					<li class="list-group-item"><a class="btn btn-dark" href="{{url_for('newCategory')}}" role="button">Add New Category</a></li>
				</ul>
			{% else %}
				<ul class="list-group">
					<li class="list-group-item"><p>You have no categories</p></li>
					<li class="list-group-item"><a class="btn btn-dark" href="{{url_for('newCategory')}}">Add New Category</a></li>
				</ul>
			{% endif %}
		</div>
	</div>

	<!-- Javascript file loading -->
	<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>