<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Custom CSS sheet -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- Required meta tags -->	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="container-fluid">
		<div class="navbar sticky-top navbar-light bg-light" id="navbar">
			<h1>Edit {{ item.name }}</h1>
			<a class="btn btn-dark" href="{{url_for('gdisconnect')}}" role="button">Logout</a>
		</div>
		<div class="form-group">
			<div class="row justify-content-center">
				<p>Category: {{category.name}}</p>
			</div>
			<form action="{{url_for('editItem', category_id=category.id, item_id=item.id)}}" method="post">
				<label for="name">Name:</label>
				<input type ="text" class="form-control" id="name" name="name" placeholder="{{item.name}}">
				<br>
				<label for="description">Description:</label>
				<textarea class="form-control" rows="3" id="description" name="description">{{item.description}}</textarea>
				<br>
				<div class="row justify-content-center">
					<input type="submit" value='Edit'>
				</div>
			</form>
		</div>
		<div class="row justify-content-center">
			<a href="{{url_for('showItems', category_id=category.id)}}"><p>Back to items</p></a>
		</div>
	</div>
</body>

</html>