<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Custom CSS sheet -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- Required meta tags -->	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div class="container-fluid">
		<div class="navbar sticky-top navbar-light bg-light" id="navbar">
			<h1>{{ category.name }}</h1>
			<a class="btn btn-dark" href="{{url_for('gdisconnect')}}" role="button">Logout</a>
		</div>
		<div class="row justify-content-center">
			{% if items !=[] %}
				<ul class="list-group">
					{% for i in items %}
						<li class="list-group-item"><a href="{{url_for('itemDetail', item_id=i.id, category_id=category.id)}}"><h3>{{i.name}}</h3></a>
						<a href="{{url_for('editItem', category_id=category.id, item_id=i.id)}}">Edit</a> |
						<a href="{{url_for('deleteItem', category_id=category.id, item_id=i.id)}}">Delete</a></li>
					{% endfor %}
					<li class="list-group-item justify-content-center"><a class="btn btn-dark" href="{{url_for('newItem', category_id=category.id)}}">Create New Item</a></li>
				</ul>
			{% else %}
				<ul class="list-group">
					<li class="list-group-item"><p>You have no items</p></li>
					<li class="list-group-item"><a class="btn btn-dark" href="{{url_for('newItem', category_id=category.id)}}">Create New Item</a></li>
				</ul>
			{% endif %}
		</div>
		<br>
		<div class="row justify-content-center">
			<a href="{{url_for('showCategories')}}"><p>Back to main</p></a>
		</div>
	</div>
</body>

</html>